@import "tailwindcss";

/* Base styles */
html {
  font-size: 16px; /* Explicit base font size */
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* Primary Colors */
  --color-primary-darkest: #070529;
  --color-primary-dark: #030287;
  --color-primary: #5B6BFF;
  --color-primary-light: #A9C7FF;
  --color-primary-lightest: #DFEAFFE5;
  --color-primary-white: #FFFFFF;

  /* Secondary Colors */
  --color-secondary: #F7B500;
  --color-secondary-light: #8DF8E7;
  --color-secondary-yellow: #FFEFA9;

  /* Neutral Colors */
  --color-neutral-gray: #A0A0A0;

  /* Error Colors */
  --color-error: #F70000;

  /* Gradient Colors */
  --color-gradient-blue: #A9C7FF;
  --color-gradient-cyan: #8DF8E7;
  --color-gradient-cyan-light: #A9FFEA66;
}
